*{
    margin: 0;    
    padding: 0;
}
:root{
    font-family: "Open Sans", sans-serif;
}

body{
    width: 1280px;
    /* margin-top: 88px; 
    margin-left: 80px; */
    margin: 88px auto 80px;
   
}


.headline{
    color:#E1624F;
    font-size: 16px;
    font-weight: bold;
    margin-top: 64px;
}
h1{
    font-size: 36px;
    font-weight: bold;

}

h2{
    font-size: 32px;
    font-weight: bold;  
    margin-bottom: 8px; 
}

h3{
    margin-bottom: 4px;
    font-size: 28px;
    font-weight: bold;
}
#section_highlight{
    margin: 40px 0px;
    align-items: center;
}
 
.image{
    border-radius: 28px;
    width: 100%;
    
}
#image-principal{
    margin-bottom: 24px;
}
#image-attraction-1{
    margin-top: 64px;
    margin-bottom: 20px;
}
#image-attraction-2, #image-attraction-3{
    margin-top: 64px;
    margin-bottom: 20px;    
}

.subtitle{
    text-align: center;
    font-size: 16px;
    font-style: italic;
}

.paragraph{
    font-size: 16px;
    font-style: normal;
}

.divider{
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #D9D9D9;   
}

.good_for{
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    margin-left: 10px;
}

.history, .family, .budget{
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
}
.history{
    color: #0C51A7;
}
.family{
    color: #E5245E;
}

.budget{
    color: #E95E10;
}

#article_3{
    margin-bottom: 40px;
}
#final_description{
    margin-top: 40px;
    text-align: center;
}

ul li::marker {
  color: #333333;  
}


footer{
    margin-top: 65px;
    margin-bottom: 48px ;
    text-align: center;
    vertical-align: middle;
}